body {
  background-color: #b1bed5;
  display: block;
  font-family: "Poppins";
  margin: 8px;
}
h1 {
  margin: 20px 0 10px;
  text-align: center;
}
h2 {
  margin: 20px 0;
}
h3 {
  font-size: 20px;
}
.container {
  background-color: #f4f3f3;
  border: 6px solid #dfdfdf;
  border-radius: 6px;
  margin: 0px auto;
  max-width: 600px;
  padding: 30px;
}
.footer {
  font-size: smaller;
  margin: 0px auto;
  max-width: 600px;
  padding-top: 10px;
}
.future-icon {
  padding: 10px 0 0;
  text-align: center;
}
.future-info {
  margin: 25px 0 10px;
  text-align: center;
}
.today-details {
  font-size: 20px;
}
.today-icon {
  font-size: 50px;
  margin: 12px;
  text-align: right;
}
.today-info {
  font-size: 40px;
  margin: 15px;
}
.units {
  font-size: 15px;
  position: relative;
  top: -18px;
}
.city-search {
  border-color: #dfdfdf;
  display: inline;
  margin: 10px 8px 0 4px;
  width: 35%;
}
.location-button {
  background-color: #bfd8d5;
  border-color: #dfdfdf;
  border-width: 4px;
  font-size: small;
  margin-right: 4px;
}
.location-button:hover {
  background-color: rgb(191, 216, 213, 0.4);
  border-color: rgb(191, 216, 213, 0.4);
}

.search-city-button {
  background-color: #b1bed5;
  border-color: #b1bed5;
  color: #fff;
}
.search-city-button:hover {
  background-color: rgb(177, 190, 213, 0.4);
  border-color: rgb(177, 190, 213, 0.4);
}
#search {
  text-align: center;
}
#currentDate {
  font-size: 24px;
}
#weatherDescription {
  text-transform: capitalize;
}
