body {
  background-color: #b1bed5;
  display: block;
  font-family: "Poppins";
  margin: 8px;
}
h1 {
  margin: 20px 0 10px;
  text-align: center;
}
h2 {
  margin: 20px 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
p {
  margin: 0;
}
.container {
  background-color: #f4f3f3;
  border: 6px solid #dfdfdf;
  border-radius: 6px;
  margin: 0px auto;
  max-width: 600px;
  padding: 30px 30px 10px 30px;
}
.footer {
  font-size: smaller;
  margin: 0px auto;
  max-width: 600px;
  padding-top: 10px;
}
.forecast-heading {
  background-color: #bfd8d5;
  font-size: 20px;
  margin: 30px 0 10px 0;
  padding: 6px;
  text-align: center;
}

.future-info {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
}

.todays-weather {
  align-self: center;
  line-height: 1.5;
  padding: 0;
}

.today-details {
  align-self: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
}
.today-info {
  align-self: center;
  font-size: 40px;
  margin: 10px;
  padding: 0;
  text-align: center;
}

.today-icon {
  padding: 0;
  text-align: right;
}
.city-search {
  border-color: #dfdfdf;
  display: inline;
  margin: 10px 8px 0 4px;
  width: 35%;
}
.location-button {
  background-color: #b1bed5;
  border-color: #dfdfdf;
  border-width: 4px;
  font-size: small;
  margin-right: 4px;
}
.location-button:hover {
  background-color: rgb(177, 190, 213, 0.4);
  border-color: rgb(191, 216, 213, 0.4);
}

.search-city-button {
  background-color: #bfd8d5;
  border-color: #bfd8bf;
  color: #fff;
}
.search-city-button:hover {
  background-color: rgb(191, 216, 213, 0.4);
  border-color: rgb(191, 216, 213, 0.4);
}

#search {
  text-align: center;
}
#currentDate {
  font-size: 24px;
}
#weatherDescription {
  text-transform: capitalize;
}
